

.columns {
 display: flex;
justify-content: space-evenly;
  gap: 70px;
  flex-wrap: wrap;
}

.col {
   
  margin-bottom: 20px;
  flex: 0 0 500px; 
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.col > div {
  margin-right: 15px;
}

.col > div:last-child {
  margin-right: 0;
}

.col > div > picture img {
  width: 155px;
  height:55px; 
  
}

.col-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 35px;
  
}

.col-content h3 {
  font: normal normal bold 30px/43px FS Albert;
  letter-spacing: 0px;
  color: #232B76;
 
}

.col-content p {
  font: normal normal normal 18px/28px FS Albert;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin: 0;
}

