


main .hero-container {
  padding: 0; 
 
}

.hero{
  padding: 0; 
  display: flex;
 min-height: 600px;
  background-image: url('http://localhost:3000/media_13cda459d5e1e3bc127fa6a56f6b8d544307f8c53.png?width=750&format=png&optimize=medium');
  background-size: cover;
  background-position:center center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1,3fr);
  grid-template-columns: repeat(1,2fr);
text-align: le;
overflow: hidden;
}
.non-btn div picture img{
  display: none;
 
}

.hero-wrapper{
 min-width: 100%;
 

}

.non-btn{
  margin-left: 210px;
margin-top: 124px;
width: 846px;
display: grid;
grid-template-rows: repeat(2,1fr);
}
#next-webinar{
  text-align: left;
font: normal normal bold 21px/37px FS Albert;
letter-spacing: 0px;
color: #042164;
opacity: 1;
}
.title-parent h4{
  text-align: left;
font: italic normal bold 40px/45px FS Albert;
letter-spacing: -0.36px;
color: #FFFFFF;
}
.title-parent p{
  text-align: left;
font: normal normal bold 36px/43px FS Albert;
letter-spacing: 0px;
color: #232B76;

}
.non-btn h5{
  text-align: left;
font: normal normal normal 30px/57px FS Albert;
letter-spacing: 1px;
color: #FFFFFF;

}
.countdown{
  display: flex;
  justify-content: space-evenly;
  max-width: 440px;
text-align: center;
font: normal normal normal 30px/5px FS Albert;
letter-spacing: 0px;
color: #FFFFFF;


}
.timer{
background: #232B76 0% 0% no-repeat padding-box;
opacity: 0.3;
padding: 5px;
width: 85px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.timer>h2{
margin-top: 0;

}
.timer>small{
  margin-bottom: 10px;
}
.btn>div {
  position:absolute;
  top: 50%;
  right:280px; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  
}

/* @media screen and (max-width: 768px) {
  .btn {
 display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: none;
  
}
} */