 .slider-container {
  background: #f7f8f8 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: auto; 
  width: 100%;  
}
.slider-wrapper,.slider{
  width: 100%;
} 
#upcoming-events {
  text-align: center;
  font: normal normal bold 40px/1.2 "FS Albert", sans-serif;
  letter-spacing: 0px;
  color: #042164;
  
}  

.slider > ul {
  list-style-type: none;
  display:flex;
  gap: 44px; 
 
  height: 400px;
}  

.slider > ul > li{
  height: 400px;
  min-width: 400px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;

} 
 .slider > ul > li > h4 {
  
  justify-content: center;
  font: 23px/43px FS Albert;
  letter-spacing: 0px;
  color: #ffffff;
  background: #232b76 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  width:100% ;
  padding-top: 15px;
  padding-bottom: 10px;
} 


  .about-card-body > h6 {
  text-align: center;
  font: normal normal small 19px/18px "FS Albert", sans-serif;
  letter-spacing: 0px;
  color: #042164;
  padding: 5px;
  margin-top: 5px;
  max-height: 100px;
  min-height: 100px;
  display: block;
  border: none;
} 



 .slider .button-container {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
text-align: center;
font: normal normal bold 19px/27px FS Albert;
letter-spacing: 0px;
color: #1490DF;

}  

.slider .about-card-body > p > strong {
  display: flex;
  flex-direction: row;
  text-align: center;
  font: normal normal normal 14px/12px FS Albert;
  letter-spacing: 0px;
  color: #042164;
 
} 

.slider .about-card-body p {
  text-align: center;
  font: normal normal bold 18px/26px FS Albert;
  letter-spacing: 0px;
  color: #009fe3;
} 
.slider .about-card-body hr {
  max-width: 250px;
 margin-bottom: 0;
} 

::-webkit-scrollbar {
  display: none;
}

  ul > li:nth-child(1) > div:nth-child(3) > p:nth-child(1) > strong > a, 
  ul > li:nth-child(2) > div:nth-child(3) > p:nth-child(1) > strong > a{

 background-color: #009fe3;
}

.slider > ul > li:nth-child(3) a.button, 
.slider > ul > li:nth-child(4) a.button{
  color:#009fe3 ;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #1490DF60;
border: 1px solid #1490DF;
border-radius: 29px;
padding-top:1px;
padding-bottom: 1px;

}  
.slider> ul > li:nth-child(1) > div:nth-child(4){
  margin-bottom: 0;
 }
.title-dates > div:nth-child(1) > a {
  border: 4px solid #042164;
  background-color: #FFFFFF;
  color: #042164;
}

.title-dates > div:nth-child(2) > a {
  background-color: #042164;
  color: #FFFFFF;
  border: none;
}

.title-dates > div:nth-child(1) > a:checked {

  border: 4px solid #1490DF;
  background-color: #FFFFFF;
  color: #1490DF;
}

.title-dates > div:nth-child(2) > a:checked {
  border: 4px solid #1490DF;
  background-color: #FFFFFF;
  color: #1490DF;

}

.title-dates > div:nth-child(1) > a:checked ~ .title-dates > div:nth-child(2) > a {
  border: 4px solid #1490DF;
  background-color: #FFFFFF;
  color: #1490DF;
  
}

.title-dates > div:nth-child(2) > a:checked ~ .title-dates > div:nth-child(1) > a {
  background-color: #042164;
  color: #FFFFFF;
  border: none;
}

.title-dates > div:nth-child(1) > a::after,
.title-dates > div:nth-child(2) > a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;

}


@media screen and (max-width: 768px) {
.slider > ul {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  gap: 22px; 
  overflow-x: none; 
  height: 300px;
  /* position: relative; */
}  

.slider > ul > li{
  height: 300px;
  min-width: 300px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 7px;

} 
}